* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    padding: 40px 100px;
    text-align: center;
    flex: 1;
    height: 100vh;
    background-image: linear-gradient(#2E8CFF, rgba(173, 201, 241, 0.51));
    background-repeat: no-repeat;
    background-size: cover; 
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#rps-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

button {
    height: 40px;
    width: 110px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    transition: font-weight border 0.3s ease-in-out;
    background-color: #e9e8e8;
    font-size: 18px;
}

button:hover {
    border-width: 2.5px;
    font-weight: 550;
    background-color: rgb(46, 140, 255, 0.1);
  }

button:active {
    border-width: 3px;
    font-weight: 575;
    background-color: rgb(46, 140, 255, 0.1);
}

#container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 30px;
    border-right: solid 4px #9BBBF2;
    border-bottom: solid 4px #9BBBF2;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-shrink: 0;
    height: fit-content;
    max-height: 90vh;
}

#output {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    border-color: black;
    border-width: 1px;
    background-color: rgb(249, 249, 249);
    min-width: 400px;
    min-height: 250px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}