* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: center;
    flex: 1;
    height: 100vh; /* Ensure it covers the full viewport height */
    background-image: linear-gradient(#2E8CFF, rgba(173, 201, 241, 0.51));
    background-repeat: no-repeat;
    background-size: cover; /* Makes sure it stretches to fill the screen */
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#rps-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    height: 40px;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    transition: font-weight border 0.3s ease-in-out;
    background-color: #e9e8e8;
}

button:hover {
    border-width: 2.5px;
    font-weight: 550;
    background-color: rgb(46, 140, 255, 0.1);
  }

button:active {
    border-width: 3px;
    font-weight: 575;
    background-color: rgb(46, 140, 255, 0.1);
}

#container {
    background-color: white;
    padding: 25px 40px;
    border-radius: 30px;
    border-right: solid 4px #9BBBF2;
    border-bottom: solid 4px #9BBBF2;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-shrink: 0;
    min-height: 500;
}

#output {
    background-color: #e9e8e8;
    min-width: 400px;
    min-height: 350px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}