* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: center;
    flex: 1;
    height: 100vh; /* Ensure it covers the full viewport height */
  background-image: linear-gradient(#2E8CFF, rgba(173, 201, 241, 0.51));
  background-repeat: no-repeat;
  background-size: cover; /* Makes sure it stretches to fill the screen */
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#rps-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    height: 40px;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#rps-picker {
     background-color: white;
     padding: 25px 40px;
     border-radius: 20px;
}